%section#events
  .row
    .col-xs-12.col-sm-6.col-md-4
      .day.panel.panel-primary
        .panel-heading
          %h2 
            Monday
            %span.pull-right 21<sup>st</sup>
        .panel-body
          %ul.list-group
            = render @mon_events
    
    .col-xs-12.col-sm-6.col-md-4
      .day.panel.panel-primary
        .panel-heading
          %h2 
            Tuesday
            %span.pull-right 22<sup>nd</sup>
        .panel-body
          %ul.list-group
            = render @tue_events

    .col-xs-12.col-sm-6.col-md-4
      .day.panel.panel-primary
        .panel-heading
          %h2 
            Wednesday
            %span.pull-right 23<sup>rd</sup>
        .panel-body
          %ul.list-group
            = render @wed_events

  .row
    .col-xs-12.col-sm-6.col-md-4.col-sm-offset-2
      .day.panel.panel-primary
        .panel-heading
          %h2 
            Thursday
            %span.pull-right 24<sup>th</sup>
        .panel-body
          %ul.list-group
            = render @thu_events

    .col-xs-12.col-sm-6.col-md-4
      .day.panel.panel-primary
        .panel-heading
          %h2 
            Friday
            %span.pull-right 25<sup>th</sup>
        .panel-body
          %ul.list-group
            = render @fri_events
